@import "./../../styles/variable.scss";
@import "./../../styles/common.scss";

.self-container {
    position: relative;

    .background {
        position: absolute;
        width   : 100%;
        height  : 50%;

        &.top {
            top                : 0;
            background-position: center top;
            background-size    : cover;
            background-image   : url("~../../assets/images/clouds.png");
            pointer-events     : none;
        }

        &.bottom {
            bottom             : -80px;
            background-position: left;
            left               : -155px;
            background-image   : url("~../../assets/images/landtubo.png");
            pointer-events     : none;
            background-size    : contain;
            background-repeat  : no-repeat;
        }
    }
}